[MASTER]
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
# W0703 broad-except (deprecated name; pylint 4 calls it broad-exception-caught)
# R0912 too-many-branches
# R0913 too-many-arguments
# R0914 too-many-locals
# R0915 too-many-statements
# R0917 too-many-positional-arguments (new in pylint 3.x)
# E0401 import-error (handled by mypy/poetry)
# R0801 duplicate-code
disable=broad-exception-caught,
    too-many-branches,
    too-many-arguments,
    too-many-locals,
    too-many-statements,
    too-many-positional-arguments,
    import-error,
    duplicate-code

[FORMAT]
max-line-length=88
